# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell.

Downton Abbey 

Breaking Bad 

Bodyguard

Bridgerton

The office

The Good Place

Call the midwife

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [1]:
import sqlite3 as sl
import pandas as pd

In [41]:
shows = pd.read_csv('tv_shows.csv') 
shows.info()
shows = shows.loc[:, ~shows.columns.str.contains('^Unnamed')]
shows = shows.rename(columns={'Rotten Tomatoes': 'Rotten_Tomatoes', 'Prime Video': 'Prime_Video','Disney+': 'DisneyPlus'})
shows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5368 non-null   int64
 1   Title            5368 non-null   object
 2   Year             5368 non-null   int64
 3   Age              3241 non-null   object
 4   IMDb             4406 non-null   object
 5   Rotten_Tomatoes  5368 non-null   object
 6   Netflix          5368 non-null   int64
 7   Hulu             5368 non-null   int64
 8   Prime_Video      5368 non-null   int64
 9   DisneyPlus       5368 non-null   int64
 10  Type             5368 non-null   int64
dtypes: int64(7), object(4)
memory usage: 461.4+ KB

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

In [44]:
con = sl.connect('tv.db')
shows.to_sql('shows', con)

5368

With your new table and database set up, print out the top 20 records in the `shows` table.

In [45]:
shows_from_db = pd.read_sql('Select * from shows limit 20;', con)
shows_from_db

,index,ID,Title,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,DisneyPlus,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
5,5,6,Avatar: The Last Airbender,2005,7+,9.3/10,93/100,1,0,1,0,1
6,6,7,Peaky Blinders,2013,18+,8.8/10,93/100,1,0,0,0,1
7,7,8,The Walking Dead,2010,18+,8.2/10,93/100,1,0,0,0,1
8,8,9,Black Mirror,2011,18+,8.8/10,92/100,1,0,0,0,1
9,9,10,The Queen's Gambit,2020,18+,8.6/10,92/100,1,0,0,0,1
10,10,11,Mindhunter,2017,18+,8.6/10,90/100,1,0,0,0,1
11,11,12,Community,2009,7+,8.5/10,90/100,1,1,1,0,1
12,12,13,Narcos,2015,18+,8.8/10,90/100,1,0,0,0,1
13,13,14,Shameless,2011,18+,8.5/10,90/100,1,1,1,0,1
14,14,15,Money Heist,2017,18+,8.3/10,90/100,1,0,0,0,1
15,15,16,Marvel's Daredevil,2015,18+,8.6/10,90/100,1,0,0,0,1
16,16,17,Lucifer,2016,16+,8.1/10,90/100,1,0,0,0,1
17,17,18,Supernatural,2005,16+,8.4/10,89/100,1,0,0,0,1
18,18,19,The Witcher,2019,18+,8.2/10,89/100,1,0,0,0,1
19,19,20,Ozark,2017,18+,8.4/10,89/100,1,0,0,0,1

Now add a table that includes an id number and the titles on your watchlist.

In [23]:
with con:
    con.execute("""CREATE TABLE wishlist(
ID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
Title TEXT);""")

In [25]:
sql = 'INSERT INTO wishlist (ID,Title) values(?,?)'
data = [
    (74,'Downton Abbey'),
    (1,'Breaking Bad'),
    (77,'Bodyguard'),
    (121,'Bridgerton'),
    (2010,'The Office'),
    (27,'The Good Place'),
    (139,'Call the Midwife')
   ]

In [26]:
with con:
    con.executemany(sql, data)

In [46]:
wishlist = pd.read_sql('Select * from wishlist ;', con)
wishlist

     ID             Title
0     1      Breaking Bad
1    27    The Good Place
2    74     Downton Abbey
3    77         Bodyguard
4   121        Bridgerton
5   139  Call the Midwife
6  2010        The Office

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

In [47]:
# shows_by_platform = pd.read_sql('Select  from wishlist ;', con)
# shows_by_platf
Netflix_shows_count = shows['Netflix'].sum()
Netflix_percentage = (Netflix_shows_count/shows['Netflix'].count())*100
print(f'Netflix shows count is {Netflix_shows_count} and percentage is {Netflix_percentage}')

Hulu_shows_count = shows['Hulu'].sum()
Hulu_percentage = (Hulu_shows_count/shows['Hulu'].count())*100
print(f'Hulu shows count is {Hulu_shows_count} and percentage is {Hulu_percentage}')

Prime_Video_shows_count = shows['Prime_Video'].sum()
Prime_Video_percentage = (Prime_Video_shows_count/shows['Prime_Video'].count())*100
print(f'Prime_Video shows count is {Prime_Video_shows_count} and percentage is {Prime_Video_percentage}')

DisneyPlus_shows_count = shows['DisneyPlus'].sum()
DisneyPlus_percentage = (DisneyPlus_shows_count/shows['DisneyPlus'].count())*100
print(f'DisneyPlus shows count is {DisneyPlus_shows_count} and percentage is {DisneyPlus_percentage}')

Netflix shows count is 1971 and percentage is 36.71758569299553
Hulu shows count is 1621 and percentage is 30.19746646795827
Prime_Video shows count is 1831 and percentage is 34.10953800298063
DisneyPlus shows count is 351 and percentage is 6.538748137108792

Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

In [53]:
final = pd.merge(wishlist, shows, on=['ID','Title'] ,how='left')
Netflix_shows_count = final['Netflix'].sum()
Netflix_percentage = (Netflix_shows_count/final['Netflix'].count())*100
print(f'Netflix shows count is {Netflix_shows_count} and percentage is {Netflix_percentage}')

Hulu_shows_count = final['Hulu'].sum()
Hulu_percentage = (Hulu_shows_count/final['Hulu'].count())*100
print(f'Hulu shows count is {Hulu_shows_count} and percentage is {Hulu_percentage}')

Prime_Video_shows_count = final['Prime_Video'].sum()
Prime_Video_percentage = (Prime_Video_shows_count/final['Prime_Video'].count())*100
print(f'Prime_Video shows count is {Prime_Video_shows_count} and percentage is {Prime_Video_percentage}')

DisneyPlus_shows_count = final['DisneyPlus'].sum()
DisneyPlus_percentage = (DisneyPlus_shows_count/final['DisneyPlus'].count())*100
print(f'DisneyPlus shows count is {DisneyPlus_shows_count} and percentage is {DisneyPlus_percentage}')

Netflix shows count is 6 and percentage is 85.71428571428571
Hulu shows count is 1 and percentage is 14.285714285714285
Prime_Video shows count is 2 and percentage is 28.57142857142857
DisneyPlus shows count is 0 and percentage is 0.0

In [54]:
final

,ID,Title,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,DisneyPlus,Type
0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,27,The Good Place,2016,16+,8.2/10,88/100,1,0,0,0,1
2,74,Downton Abbey,2010,16+,8.7/10,83/100,1,0,1,0,1
3,77,Bodyguard,2018,18+,8.1/10,83/100,1,0,0,0,1
4,121,Bridgerton,2020,NaN,7.3/10,79/100,1,0,0,0,1
5,139,Call the Midwife,2012,16+,8.4/10,78/100,1,0,0,0,1
6,2010,The Office,2001,16+,8.5/10,84/100,0,1,1,0,1

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?
2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?
2. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?
3. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?